---
layout: default
title: el mundo Minecraft del srchulo
---
<h1>minecraft.srchulo.com:31862</h1>
<h3>[% ip %]:31862</h3>
<hr />

<h2>Minecraft Day</h2>
<p>Day [% day %]</p>
<hr />

<h2>[% miners.count %] miner[% IF miners.count != 1 %]s[% END %] exploring...</h2>
<ul>
  [% FOR miner IN miners %]
    <li>[% miner %]</li>
  [% END %]
</ul>
<hr />
